<div class="container-fluid bg-light mt-3" style="height: 100vh;">
  <div class="row" *ngIf="isSelected">
    <div class="col">
      <h3 class="text-center mt-2 display-5">
        {{ selectedSupplier.supplierName }}
      </h3>
      <h6 class="text-center">{{ selectedSupplier.city }}</h6>
    </div>
  </div>
  <div class="row" *ngIf="isSelected">
    <div class="col">
      <table class="table mt-3" *ngIf="selectedSupplier.bills.length">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Invoice No.</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of selectedSupplier.bills; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ bill.invoiceNumber }}</td>
            <td>{{ bill.amount }}</td>
            <td>{{ bill.date.split("T")[0] }}</td>
            <td>
              <a
                class="btn btn-secondary"
                href=""
                [routerLink]="'/supplierBill/' + bill.billId"
                >View Bill</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <p
        *ngIf="!selectedSupplier.bills.length"
        class="display-4 text-center mt-5"
      >
        No bills from this supplier
      </p>
    </div>
  </div>
</div>
