.background {
  background-image: url("../../assets/images/hal-gatewood-AypaEmWVH8I-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.form-style {
  width: 40%;
  border: 2px solid red;
}
